## Imports

In [15]:
import numpy as nump
import pandas as pand

# Learning Pandas

In [16]:
s = pand.Series([4, 5, 3, nump.nan, 3, 2])

In [17]:
dataframe = pand.DataFrame({
    "A": 3.0,
    "B": pand.Timestamp("20180215"),
    "C": pand.Series(1, index=list(range(4)), dtype="float32"),
    "D": nump.array([3] * 4, dtype="int32")})

In [18]:
dataframe

     A          B    C  D
0  3.0 2018-02-15  1.0  3
1  3.0 2018-02-15  1.0  3
2  3.0 2018-02-15  1.0  3
3  3.0 2018-02-15  1.0  3

In [19]:
csvdata = pand.read_csv("https://opendata-geohive.hub.arcgis.com/datasets/4779c505c43c40da9101ce53f34bb923_0.csv?outSR=%7B%22latestWkid%22%3A3857%2C%22wkid%22%3A102100%7D")

In [21]:
csvdata[["CountyName", "PopulationCensus16", "ConfirmedCovidCases"]]

   CountyName  PopulationCensus16  ConfirmedCovidCases
0      Carlow               56932                 5440
1       Cavan               76176                 8988
2       Clare              118817                 8416
3        Cork              542868                38701
4     Donegal              159192                22145
..        ...                 ...                  ...
73  Tipperary              159553                10581
74  Waterford              116176                10373
75  Westmeath               88770                 7338
76    Wexford              149722                10908
77    Wicklow              142425                 8641

[78 rows x 3 columns]